<div class="block-header">
  <div>
    <p class="header">last days</p>
    <p class="header">of the sale</p>
  </div>
  <button
    tuiButton
    type="button"
    appearance="whiteblock"
    class="btn-buy"
    (click)="toCatalog()"
  >
    buy online
  </button>
</div>
<tui-carousel [duration]="3000" [(index)]="startIndex">
  <ng-container *ngFor="let item of items; let index = index">
    <tui-island *tuiItem>
      <div class="banner-container">
        <div class="banner" [style.background-image]="getBannerUrl(index, 1)"></div>
        <div class="banner" [style.background-image]="getBannerUrl(index, 2)"></div>
      </div>
    </tui-island>
  </ng-container>
</tui-carousel>
<tui-pagination
  size="s"
  class="pagination"
  [length]="items.length"
  [(index)]="startIndex"
></tui-pagination>
