<form [formGroup]="form" (ngSubmit)="ok()">
  <ec-form-fail-notification
    [error]="error"
    [parentForm]="form"
    (errorHandle)="onErrorHandle()"
  ></ec-form-fail-notification>
  <label> Current Password </label>
  <ec-password-input formControlName="oldPassword"></ec-password-input>
  <label> New Password </label>
  <ec-password-input formControlName="newPassword"></ec-password-input>
  <div class="btn-container">
    <button
      tuiButton
      size="m"
      type="submit"
      [disabled]="!form.valid"
      [showLoader]="isLoading"
    >
      Change
    </button>
    <button
      tuiButton
      size="m"
      type="button"
      appearance="secondary-destructive"
      (click)="cancel()"
    >
      Close
    </button>
  </div>
</form>
