<tui-hosted-dropdown tuiDropdownLimitWidth="min" [content]="dropdown" [(open)]="open">
  <button
    tuiButton
    type="button"
    appearance="outline"
    size="m"
    icon="tuiIconUserLarge"
    [iconRight]="open ? 'tuiIconChevronUp' : 'tuiIconChevronDown'"
    [pseudoActive]="open || null"
  >
    {{ userName }}
  </button>
</tui-hosted-dropdown>
<ng-template #dropdown let-close="close">
  <tui-data-list>
    <tui-opt-group>
      <button tuiOption (click)="toProfile()" class="auth-option">
        <tui-svg src="tuiIconSettingsLarge"></tui-svg>
        <span>profile</span>
      </button>
      <button tuiOption class="exit auth-option" (click)="logOut()">
        <tui-svg src="tuiIconLogOutLarge"></tui-svg>
        <span>log out</span>
      </button>
    </tui-opt-group>
  </tui-data-list>
</ng-template>
