:host {
  .wrapper {
    display: flex;
    flex-direction: column;

    max-width: 580px;
    margin: 0 auto;
    padding: 0 40px;
  }

  ::ng-deep form {
    margin-bottom: 100px;
  }

  .link {
    text-align: center;
  }
}
