:host {
  .wrapper {
    display: flex;
    flex-direction: column;

    max-width: 580px;
    margin: 0 auto;
    padding: 0 40px;
  }

  ::ng-deep form {
    margin-bottom: 100px;
  }

  .sign-up-button {
    align-self: center;
    max-width: fit-content;
    padding: 5px 36px;
  }

  @media (width <= 768px) {
    .sign-up-button {
      font-size: 14px;
    }

    ::ng-deep {
      .t-wrapper {
        padding: 0 5px !important;
      }
    }
  }
}
