:host {
  .card {
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  }

  .image {
    position: relative;
    aspect-ratio: 600/866;
    width: 100%;
    object-fit: contain;
  }

  .info {
    padding: 10px 5px;
  }
}
