@import '../../../../variables';

:host {
  .categories {
    display: flex;
    flex-direction: column;
    width: 225px;
  }

  .link {
    font: var(--tui-font-text-l);
    color: #616161;
    text-decoration: none;
  }

  .link.selected {
    color: $red;
  }

  ::ng-deep tui-tree {
    .t-children {
      margin-left: 10px;
    }
  }
}
