<header class="header">
  <button
    class="catalog-btn"
    (click)="toCatalog()"
    tuiButton
    type="button"
    appearance="outline"
    [size]="size"
    [icon]="'s' ? 'tuiIconBookOpen' : 'tuiIconBookOpenLarge'"
  >
    Catalog
  </button>
  <img class="logo" src="../../../../assets/logo.svg" alt="logo" (click)="toMain()" />
  <div class="container-user">
    <ec-auth-menu *ngIf="(isAuth | async) === false" [sizeInput]="size"></ec-auth-menu>
    <ec-user-menu *ngIf="isAuth | async" [sizeInput]="size"></ec-user-menu>
    <button
      tuiButton
      type="button"
      appearance="outline"
      [size]="size"
      [icon]="size === 's' ? 'tuiIconShoppingCart' : 'tuiIconShoppingCartLarge'"
      (click)="toCart()"
    ></button>
  </div>
</header>
