<div class="wrapper">
  <div class="about-team">
    <a href="https://rs.school/"
      ><img src="https://rs.school/images/rs_school.svg" class="rs-img"
    /></a>
    <div class="description">Мы команда GPTteam. Будем знакомы!</div>
  </div>
  <div class="about-member">
    <div class="member-card">
      <img class="image" src="../../../../assets/sobyt483.jpg" />
      <div class="member-description">
        <div class="title">
          <a href="https://github.com/sobyt483" target="_blank" class="github">
            <span class="name">Андриан Кравцов</span>
            <img src="../../../../assets/github.svg" alt="github" />
          </a>
          <span class="age">23 года</span>
        </div>
        <p class="paragraph">
          Увлечен современными фреймворками и библиотеками, а также тестированием. Его
          постоянная жажда знаний подталкивает изучать новые языки программирования,
          фреймворки и методологии.
        </p>
        <p class="paragraph">
          Внес огромный вклад в интеграцию клиентской части приложения с бэкендом
          eCommerce и в тестирование интерфейса.
        </p>
      </div>
    </div>
    <div class="member-card">
      <img class="image" src="../../../../assets/intelligentraji.jpg" />
      <div class="member-description">
        <div class="title">
          <a href="https://github.com/intelligentraji" target="_blank" class="github">
            <span class="name">Дмитрий Сергейчик</span>
            <img src="../../../../assets/github.svg" alt="github" />
          </a>
          <span class="age">22 года</span>
        </div>
        <p class="paragraph">
          Выделяется высокой активностью, энтузиазмом и принимает активное участие в
          различных аспектах своей работы и в сообществе разработчиков.
        </p>
        <p class="paragraph">
          Внес огромный вклад в разработку интерфейса приложения, компонентов,
          интерактивных элементов интерфейса, которые составили основу приложения и в
          оптимизацию производительности.
        </p>
      </div>
    </div>
    <div class="member-card">
      <img class="image" src="../../../../assets/aliaksei-sl.jpg" />
      <div class="member-description">
        <div class="title">
          <a href="https://github.com/aliaksei-sl" target="_blank" class="github">
            <span class="name">Алексей Гончаревич</span>
            <img src="../../../../assets/github.svg" alt="github" />
          </a>
          <span class="age">26 лет</span>
        </div>
        <p class="paragraph">
          Увлечён программированием и технологиями. Стремится к саморазвитию, новым
          знаниям в областях frontEnd и backEnd и постоянному улучшению кода.
        </p>
        <p class="paragraph">
          Внес огромный вклад в создание отзывчивого дизайна, компоненты интерфейса,
          подготовку документации и организацию, управление процессами разработки.
        </p>
      </div>
    </div>
  </div>
</div>
