<div class="wrapper">
  <div class="about-team">
    <a href="https://rs.school/"
      ><img src="https://rs.school/images/rs_school.svg" class="rs-img"
    /></a>
    <div class="description">
      <p>
        <span>Команда GPTteam</span> успешно завершила проекта, обеспечивая
        высококачественный пользовательский интерфейс и позитивный опыт для конечных
        пользователей. Ее вклад включал:
      </p>
      <ul class="description-items">
        <li>
          <span>Разработка интерфейса</span> всей веб-страницы, компоненты и интерактивные
          элементы интерфейса, которые составили основу приложения.
        </li>
        <li>
          <span>Создание отзывчивого дизайна,</span> что означает, что интерфейс магазина
          хорошо адаптировался к разным устройствам и разрешениям экранов. Это включало в
          себя адаптацию для мобильных устройств, планшетов и десктопов.
        </li>
        <li>
          <span>Интеграция клиентской части приложения с бэкендом eCommerce,</span>
          обеспечивая передачу данных и взаимодействие с сервером через API.
        </li>
        <li>
          <span>Оптимизация производительности,</span> оптимизация кода и ресурсов, чтобы
          ускорить загрузку страниц, улучшить производительность и снизить нагрузку на
          сервер.
        </li>
        <li>
          <span>Тестирование интерфейса,</span> выявляя и исправляя ошибки, баги и
          проблемы, обеспечивая надежную работу интерфейса.
        </li>
        <li>
          <span>Подготовка документации,</span> объясняющую, как использовать интерфейс и
          его компоненты.
        </li>
        <li>
          <span>Организация и управление процессами разработки,</span> проведение
          совещаний, улучшение методологии, устранение преград для команды.
        </li>
      </ul>
    </div>
  </div>
  <div class="about-member">
    <div class="member-card">
      <img src="../../../../assets/sobyt483.jpg" class="member-img" />
      <p>
        Андриан Кравцов - <a href="https://github.com/sobyt483" target="_blank">github</a>
      </p>
      <p>
        <span>23 года.</span> Увлечен современными фреймворками и библиотеками, а также
        тестированием. Его постоянная жажда знаний подталкивает изучать новые языки
        программирования, фреймворки и методологии.
      </p>
      <p>
        <span>Внес огромный вклад</span> в интеграцию клиентской части приложения с
        бэкендом eCommerce и в тестирование интерфейса, выявляя и исправляя ошибки, баги и
        проблемы, обеспечивая надежную работу интерфейса.
      </p>
    </div>
    <div class="member-card">
      <img src="../../../../assets/intelligentraji.jpg" class="member-img" />
      <p>
        Дмитрий Сергейчик -
        <a href="https://github.com/intelligentraji" target="_blank">github</a>
      </p>
      <p>
        <span>22 года.</span> Выделяется высокой активностью, энтузиазмом и принимает
        активное участие в различных аспектах своей работы и в сообществе разработчиков.
      </p>
      <p>
        <span>Внес огромный вклад</span> в разработку интерфейса приложения, компонентов,
        интерактивных элементов интерфейса, которые составили основу приложения и в
        оптимизацию производительности.
      </p>
    </div>
    <div class="member-card">
      <img src="../../../../assets/aliaksei-sl.jpg" class="member-img" />
      <p>
        Алексей Гончаревич -
        <a href="https://github.com/aliaksei-sl" target="_blank">github</a>
      </p>
      <p>
        <span>26 лет.</span> Увлечён программированием и технологиями. Стремиться к
        саморазвитию и новым знаниям в областях frontEnd и backEnd. Быстро реагирует на
        поставленные задачи, стремится к их активному решению и постоянному улучшению
        кода.
      </p>
      <p>
        <span>Внес огромный вклад</span> в создание отзывчивого дизайна, компоненты
        интерфейса, подготовку документации и организацию, управление процессами
        разработки.
      </p>
    </div>
  </div>
</div>
