<ng-container *ngIf="product.masterData.current as data">
  <div class="wrapper">
    <div class="container-data">
      <ec-carousel-img [imgs]="data.masterVariant.images"></ec-carousel-img>
    </div>
    <div class="description-wrapper">
      <p class="brand">{{ data.name.ru }}</p>
      <p class="name">{{ data.metaDescription.ru }}</p>
      <ec-price
        [price]="data.masterVariant.prices[0]"
        class="price-container"
        className="product-price"
      ></ec-price>
      <p class="description">{{ data.description?.ru || '' }}</p>
      <div class="attributes">
        <ng-container *ngFor="let param of data.masterVariant.attributes">
          <div *ngIf="param.name !== 'size'" class="container-params">
            <p class="key">
              <span>{{ param.name | translateAttribute : (productType | async) }}:</span>
            </p>
            <span class="value">{{ param.value }}</span>
          </div>
        </ng-container>
      </div>
      <form [formGroup]="sizeForm" class="form">
        <tui-select tuiTextfieldSize="m" formControlName="size">
          Размер
          <tui-data-list-wrapper *tuiDataList [items]="sizes"></tui-data-list-wrapper>
        </tui-select>
        <button
          *ngIf="isVariantInCart | async; else add"
          (click)="removeLineItem()"
          tuiButton
          type="button"
          size="m"
        >
          {{ 'Убрать из корзины' }}
        </button>
        <ng-template #add>
          <button (click)="addLineItem()" tuiButton type="button" size="m">
            {{ 'Добавить в корзину' }}
          </button>
        </ng-template>
      </form>
    </div>
  </div>
</ng-container>
