<ng-container [formGroup]="form">
  <div class="tui-form__row">
    <tui-input formControlName="country" class="address-form-country"
      >Country<input tuiTextfield autocomplete="new-password"
    /></tui-input>
    <tui-error formControlName="country" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <ec-input placeholder="City" formControlName="city"></ec-input>
  <ec-input placeholder="Street" formControlName="street"></ec-input>
  <div class="tui-form__row">
    <tui-input
      ecControlDependency="country"
      formControlName="postalCode"
      class="address-form-postal-code"
      >Postal code<input tuiTextfield autocomplete="new-password" />
    </tui-input>
    <tui-error
      formControlName="postalCode"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
</ng-container>
