<div class="discount">
  <tui-island size="l" textAlign="left">
    <h4 class="tui-island__title">Ваш заказ</h4>
    <div class="layout-2">
      <p class="tui-island__paragraph">Всего продуктов:</p>
      <p class="tui-island__paragraph">{{ cart?.totalLineItemQuantity }}</p>
    </div>
    <ec-discount-input></ec-discount-input>
    <div class="layout-2" *ngIf="cart?.discountCodes?.length">
      <p class="tui-island__paragraph">Скидка по промокоду</p>
      <p class="tui-island__paragraph">0</p>
    </div>
    <div class="layout-2">
      <p class="tui-island__paragraph">Итого</p>
      <p class="tui-island__paragraph"><ec-total-price [cart]="cart"></ec-total-price></p>
    </div>
    <button
      tuiButton
      type="button"
      appearance="flat"
      size="m"
      class="tui-island__footer-button red"
    >
      Перейти к оформлению
    </button>
  </tui-island>
</div>
