<div *ngIf="cart$ | async as cart" class="wrapper">
  <div *ngIf="cart.lineItems?.length; else empty" class="container">
    <div class="cards">
      <ec-card-basket
        *ngFor="let cardItem of cart.lineItems; trackBy: identify"
        [lineItem]="cardItem"
        (navigate)="navigateToProduct($event)"
        (detele)="cartFacade.removeLineItem($event)"
      ></ec-card-basket>
    </div>
    <ec-order-info [cart]="cart"></ec-order-info>
  </div>
  <ng-template #empty>
    <h3 class="empty">
      Перейдите в
      <a tuiLink routerLink="/store/catalog/clothes">каталог</a>, чтобы добавить товары
    </h3>
  </ng-template>
</div>
