@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap';

:host {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 30px;
  }

  .empty {
    padding: 30px;
    font-family: Montserrat, sans-serif !important;
    font-size: 20px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    margin: 0 auto 40px;
    padding-top: 20px;
  }

  .cards {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    row-gap: 20px;

    width: 60%;
  }

  .clear {
    overflow: hidden;
    display: block;

    margin-bottom: 20px;

    font-size: 18px;
    color: rgb(110 110 110);

    transition: all 0.3s ease 0s;
  }

  .clear:hover {
    color: var(--tui-link);
  }

  .status-text {
    font: var(--tui-font-text-xl);
  }

  .status-link:hover {
    text-decoration: underline;
  }
}
