@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap';

:host {
  .emptyCard-header {
    padding: 30px;
    font-family: Montserrat, sans-serif !important;
    font-size: 20px;
    text-align: center;
  }
}
