.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;

  width: 50px;

  background-color: black;

  transition: all 0.3s ease 0s;
}
