<footer class="footer">
  <p class="text"><span class="about" (click)="toAbout()">about us</span></p>
  <p class="text">2023 © VogueGTP — online fashion store.</p>
  <div class="container-networks">
    <a href="https://www.facebook.com/" target="_blank"
      ><img src="../../../../assets/fb.svg" alt="facebook" class="networks"
    /></a>
    <a href="https://www.instagram.com/" target="_blank"
      ><img src="../../../../assets/instagram.svg" alt="instagram" class="networks"
    /></a>
    <a href="https://www.pinterest.com/" target="_blank"
      ><img src="../../../../assets/pinterest.svg" alt="pinterest" class="networks"
    /></a>
  </div>
</footer>
