<form [formGroup]="form" (ngSubmit)="ok()">
  <h3 *ngIf="!error">Смена пароля</h3>
  <ec-form-fail-notification
    *ngIf="error"
    [error]="error"
    [parentForm]="form"
    (errorHandle)="onErrorHandle()"
  ></ec-form-fail-notification>
  <ec-password-input
    formControlName="oldPassword"
    title="Текущий пароль"
  ></ec-password-input>
  <ec-password-input
    formControlName="newPassword"
    title="Новый пароль"
  ></ec-password-input>
  <div class="btn-container">
    <button
      tuiButton
      size="m"
      type="submit"
      [disabled]="!form.valid"
      [showLoader]="isLoading"
    >
      Изменить
    </button>
    <button
      tuiButton
      size="m"
      type="button"
      appearance="secondary-destructive"
      (click)="cancel()"
    >
      Закрыть
    </button>
  </div>
</form>
