@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

tui-dropdown-host {
  z-index: 10000 !important;
}
