* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

tui-dropdown-host {
  z-index: 2 !important;
}

// @media (width <= 600px) {
//   :root {
//     --tui-font-text-s: normal 6px var(--tui-font-text);
//   }
// }
